name: Docker Pipeline

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    test-docker-operations:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Build docker image
              run: | 
                docker build -t gi-service .
                docker images | grep gi-service || (echo "Image build failed" && exit 1)
            
            - name: Run docker container
              run: |
                # run the container
                docker run -d --name gi-service \
                  -e BASE_URL_QUERY="http://localhost:8081" \
                  -e BASE_URL_CRUD="http://localhost:8082" \
                  gi-service

                # wait for 3 seconds
                sleep 3

                if [ "$(docker inspect -f '{{.State.Running}}' gi-service)" == "true" ]; then
                  echo "Success: Container is running."
                else
                  echo "Error: Container crashed. Showing logs below:"
                  docker logs gi-service
                  exit 1
                fi

            - name: Verify container health
              run: |
                sleep 5
                docker ps | grep gi-service | grep -q "Up" || (echo "Container is not healthy" && exit 1)
                echo "Container is running successfully"

            - name: Stop docker container
              run: |
                docker stop gi-service
                docker ps | grep gi-service | grep -q "Exited" || (echo "Container stop failed" && exit 1)
                echo "Container stopped successfully"

            - name: Remove docker container
              run: |
                docker rm gi-service 
                docker ps -a | grep gi-service && (echo "Container removal failed" && exit 1)
                echo "Container removed successfully""

            - name: Remove docker image
              run: |
                docker rmi gi-service
                docker images | grep gi-service && (echo "Image removal failed" && exit 1)
                echo "Image removed successfully""

